ul {
	padding: 0;
}

.nav {
	list-style-type: none;
	text-align: center;
}

.tab {
	display: inline-block;
    background-color: #32c896;
    border-bottom: solid 5px #238b68;
    padding: 5px 20px;
    margin-right: 5px;
    margin-bottom: 4px;
    color: #fff;
    cursor: pointer;
}

.tab a {
	text-decoration: none;
}

.tab:hover {
    background-color: #238b68;
}

.active {
    background-color: #238b68;
}